body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 15px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .produto {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
  }
  
  .produto img {
    max-width: 100%;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .carrinho, .total {
    margin-top: 20px;
  }
  
  .total span {
    font-weight: bold;
  }
  .finalizar-compra {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .finalizar-compra:hover {
    background-color: #0056b3;
  }